<% layout('/layouts/boilerplate') %>
<nav
  class="navbar navbar-expand-md bg-body-light fixed-top border-bottom list d-flex w-100"
>
  <div class="navbar-navborder-bottom d-flex w-100">
    <div class="filters w-100 align-self-center">
      <div class="filter">
        <div><i class="fa-solid fa-fire"></i></div>
        <p>Trending</p>
      </div>
      <div class="filter">
        <div><i class="fa-solid fa-bed"></i></div>
        <p>Rooms</p>
      </div>
      <div class="filter">
        <div><i class="fa-solid fa-igloo"></i></div>
        <p>Cold</p>
      </div>
      <div class="filter">
        <div><i class="fa-solid fa-place-of-worship"></i></div>
        <p>Peaceful</p>
      </div>
      <div class="filter">
        <div><i class="fa-solid fa-person-swimming"></i></div>
        <p>Awesome Pools</p>
      </div>
      <div class="filter">
        <div><i class="fa-solid fa-umbrella-beach"></i></div>
        <p>Beach</p>
      </div>
      <div class="filter">
        <div><i class="fa-solid fa-house-user"></i></div>
        <p>Home</p>
      </div>
      <div class="filter">
        <div><i class="fa-solid fa-chess-rook"></i></div>
        <p>Castle</p>
      </div>
      <div class="filter">
        <div><i class="fa-solid fa-landmark-dome"></i></div>
        <p>Ancient</p>
      </div>
      <div class="filter">
        <div><i class="fa-solid fa-mountain"></i></div>
        <p>On Mountain</p>
      </div>
      <div class="filter">
        <div><i class="fa-solid fa-mug-hot"></i></div>
        <p>Warm</p>
      </div>
      <div class="d-flex align-items-center ms-2" id="card-element1">
        <div class="tax-toggle card d-flex justify-content-center p-2 m-0 h-50">
          <div
            class="form-check form-switch d-flex align-items-center text-center"
          >
            <input
              class="form-check-input"
              type="checkbox"
              id="flexSwitchCheckDefault1"
            />
            <label
              class="form-check-label card-label ms-1"
              for="flexSwitchCheckDefault"
              >Filters</label
            >
          </div>
        </div>
      </div>
      <div class="d-flex align-items-center ms-3" id="card-element2">
        <div class="tax-toggle card d-flex justify-content-center p-2 m-0 h-50">
          <div
            class="form-check-reverse form-switch align-items-center text-center"
          >
            <input
              class="form-check-input"
              type="checkbox"
              id="flexSwitchCheckDefault2"
            />
            <label
              class="form-check-label card-label ms-1"
              for="flexSwitchCheckDefault"
              >Display Total After Taxes</label
            >
          </div>
        </div>
      </div>
    </div>
  </div>
</nav>
<div class="row row-cols-lg-3 row-cols-md-2 row-cols-sm-1 card-listing">
  <% for(let listing of allListings) { %>
  <a href="/listings/<%= listing._id%>" class="listing-link">
    <div class="card card-listing">
      <img
        src="<%= listing.image.url %>"
        class="card-img-top"
        alt="<%= listing.image.filename %>"
        style="height: 20rem"
      />
      <div class="card-img-overlay"></div>
      <div class="card-body">
        <p class="card-text"></p>
        <h5><%= listing.title %></h5>
        <div class="d-flex">
          <p>&#8377;<%= listing.price.toLocaleString("en-IN")%> night</p>
          <div class="tax-info"><i>&nbsp; + 18% GST</i></div>
        </div>
      </div>
    </div>
  </a>
  <%}%>
</div>
